@{
    ViewData["Title"] = "Movie Form";
}
@*Import the class for the movies form from the Model*@
@model MovieResponse;
<p>
    Enter Movie Info Below!
</p>

@*Create a form that will post movie info to a database*@
<form method="post">
    <br />
    @*This input will be for when you build out the new model for the new database table*@
    <input type="hidden" asp-for="MovieID" />
    <label>Category</label>
    <select asp-for="CategoryID">
        <option value="">Select a Category</option>
        @foreach (MovieCategory c in ViewBag.Categories)
        {
            <option value="@c.CategoryID">@c.Category</option>
        }
    </select><br /><br />
    <label>Title</label>
    <input type="text" asp-for="Title" id="Title"><br /><br />
    <label>Year</label>
    <input type="number" asp-for="Year" id="Year"><br /><br />
    <label>Director</label>
    <input type="text" asp-for="Director" id="Director"><br /><br />
    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br /><br />
    <label>Edited</label>
    <select asp-for="Edited">
        <option></option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select><br /><br />
    <label>Lent to</label>
    <input type="text" asp-for="Lent_to" id="Lent_to"><br /><br />
    <label>Notes</label>
    <input type="text" asp-for="Notes" id="Notes"><br /><br />
    <!--Give them a way to initiate the validation-->
    <input id="Movie" type="submit" value="Submit Movie" />
    <br />
</form>

@*Create a space for an error message to be displayed if an entry is invalid*@
<div asp-validation-summary="All"></div>